<h3>Listing Special Prices</h3>
<table>
	<thead>
		<tr>
			<th> Sl.No </th>
			<th> Start Date </th>
			<th> End Date </th>
			<th> Price </th>
			<th> Room </th>
			<th colspan="3"> </th>
		</tr>
	</thead>
	<tbody>
		<% @special_prices.each_with_index do |special_price| %>
			<% if @special_price.room.user_id == current_user.id %>
				<tr>
					<td><%= index + 1 %></td>
					<td><%= special_price.start_date %></td>
					<td><%= special_price.end_date %></td>
					<td><%= special_price.price %></td>
					<td><%= special_price.room.name %></td>
					<td><%= link_to "Show", special_price(special_price.id) %> | <%= link_to "Edit", special_price(special_price.id) %> | <%= link_to "Destroy", special_price(special_price.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>