<h5>Hi! <%= @booking.room.user.username %> confirm the booking </h5>
<h5>Booking Details</h5>
<p>Guest Name: <%= @booking.user.username %></p>
<p>Check in: <%= @booking.start_date %></p>
<p>Check out: <%= @booking.end_date %></p>
<p>Room Name : <%= @booking.room.name %></p>
