<% if @rooms.empty? %>
	<p>No unauthorized romms found</p>
<% else %>
	<h3>Listing unauthorized rooms</h3>
	<table>
		<thead>
			<tr>
				<th> # </th>
				<th> Room Name </th>
				<th> Owner </th>
				<th> Is_authotized </th>
			</tr>
		</thead>
		<tbody>
			<% @rooms.each_with_index do |room, index| %>
				<tr>
					<td><%= index + 1 %></td>
					<td><%= link_to room.name, room_path(room.id) %></td>
					<td><%= room.user.username %></td>
					<td>
						<%= form_for room do |f| %>
							<%= f.hidden_field :is_authorized, value: true %>
							<%= f.submit "Authorize" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
